personal database/workflow.json
{
  "name": "Personal Knowledge Base Assistant",
  "nodes": [
    {
      "id": "e8b435a1-c87b-4847-aec9-63149c03b257",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [240, 400],
      "parameters": { "updates": ["message"] }
    },
    {
      "id": "93798299-2aa5-4bcb-a169-d4b1e7b378ab",
      "name": "Is Add Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.message?.text ?? \"\" }}",
              "rightValue": "/add",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1472942-afb8-49ec-8fc3-e28b05d1527c",
      "name": "Prepare Note Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [740, 240],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "note-text",
              "name": "noteText",
              "value": "={{ $json.message.text.replace(/^\\/add\\s+/i, \"\") }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "85159963-ebfd-44a4-9ee5-e15283d9b707",
      "name": "Store Note in Supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [960, 240],
      "parameters": {
        "mode": "insert",
        "tableName": { "__rl": true, "mode": "id", "value": "documents", "cachedResultName": "documents" }
      }
    },
    {
      "id": "3733272d-80ae-47f8-beab-768e5378c487",
      "name": "Cohere Embeddings Insert",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [960, 440],
      "parameters": { "modelName": "embed-multilingual-v3.0" }
    },
    {
      "id": "5be64c3c-33d3-4ea9-a9b2-60fadbfa0b85",
      "name": "Load Note Text",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1000, 560],
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Prepare Note Text').item.json.noteText }}",
        "textSplittingMode": "custom"
      }
    },
    {
      "id": "9a929b87-15ec-4cf6-9077-a09d53c13a8d",
      "name": "Split Note",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1180, 560],
      "parameters": { "chunkSize": 1000, "chunkOverlap": 100 }
    },
    {
      "id": "d7fc157e-ac3c-4342-8ea3-dd7afa6e9646",
      "name": "Confirm Saved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 240],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "\u2705 \u5df2\u5b58\u5165\u4f60\u7684\u77e5\u8b58\u5eab\u3002",
        "additionalFields": { "appendAttribution": false }
      }
    },
    {
      "id": "377c5c15-5531-42e1-88be-4e26fb5d6bd5",
      "name": "Knowledge Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [740, 560],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "\u4f60\u662f\u4f7f\u7528\u8005\u7684\u500b\u4eba\u77e5\u8b58\u5eab\u52a9\u7406\u3002\u7576\u4f7f\u7528\u8005\u63d0\u554f\u6642\uff0c\u5148\u7528\u300cSearch Knowledge Base\u300d\u5de5\u5177\u6aa2\u7d22\u4ed6\u904e\u53bb\u5b58\u5165\u7684\u7b46\u8a18\uff0c\u518d\u6839\u64da\u6aa2\u7d22\u5230\u7684\u5167\u5bb9\u7528\u7e41\u9ad4\u4e2d\u6587\u56de\u7b54\u3002\u82e5\u77e5\u8b58\u5eab\u88e1\u627e\u4e0d\u5230\u76f8\u95dc\u8cc7\u8a0a\uff0c\u5c31\u8aa0\u5be6\u8aaa\u660e\u6c92\u6709\u627e\u5230\uff0c\u4e0d\u8981\u7de8\u9020\u3002",
          "enableStreaming": false
        }
      }
    },
    {
      "id": "f020323a-0af0-4805-94b9-c5930f60e678",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [740, 720],
      "parameters": { "modelName": "models/gemini-3.1-flash-lite" }
    },
    {
      "id": "c47858b1-b1c4-4e6c-b443-cf68bdfd8baa",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [900, 720],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "8380f8ee-9833-4be4-abbc-598220fc8564",
      "name": "Search Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [1060, 780],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "\u641c\u5c0b\u4f7f\u7528\u8005\u500b\u4eba\u77e5\u8b58\u5eab\u4e2d\u904e\u53bb\u5b58\u5165\u7684\u7b46\u8a18\uff0c\u56de\u50b3\u6700\u76f8\u95dc\u7684\u7247\u6bb5\u3002\u56de\u7b54\u4efb\u4f55\u95dc\u65bc\u4f7f\u7528\u8005\u7b46\u8a18\u3001\u60f3\u6cd5\u6216\u8cc7\u6599\u7684\u554f\u984c\u524d\u90fd\u5148\u547c\u53eb\u9019\u500b\u5de5\u5177\u3002",
        "tableName": { "__rl": true, "mode": "id", "value": "documents", "cachedResultName": "documents" },
        "topK": 4
      }
    },
    {
      "id": "96048a86-02ff-47ca-bbbf-50299439e767",
      "name": "Cohere Embeddings Search",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [1240, 780],
      "parameters": { "modelName": "embed-multilingual-v3.0" }
    },
    {
      "id": "fafbcfdb-2bc2-4030-bcf9-f9a0f07ae75c",
      "name": "Send Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 560],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": { "appendAttribution": false }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Is Add Command", "type": "main", "index": 0 }]] },
    "Is Add Command": {
      "main": [
        [{ "node": "Prepare Note Text", "type": "main", "index": 0 }],
        [{ "node": "Knowledge Assistant", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Note Text": { "main": [[{ "node": "Store Note in Supabase", "type": "main", "index": 0 }]] },
    "Store Note in Supabase": { "main": [[{ "node": "Confirm Saved", "type": "main", "index": 0 }]] },
    "Cohere Embeddings Insert": { "ai_embedding": [[{ "node": "Store Note in Supabase", "type": "ai_embedding", "index": 0 }]] },
    "Load Note Text": { "ai_document": [[{ "node": "Store Note in Supabase", "type": "ai_document", "index": 0 }]] },
    "Split Note": { "ai_textSplitter": [[{ "node": "Load Note Text", "type": "ai_textSplitter", "index": 0 }]] },
    "Knowledge Assistant": { "main": [[{ "node": "Send Answer", "type": "main", "index": 0 }]] },
    "Gemini Chat Model": { "ai_languageModel": [[{ "node": "Knowledge Assistant", "type": "ai_languageModel", "index": 0 }]] },
    "Chat Memory": { "ai_memory": [[{ "node": "Knowledge Assistant", "type": "ai_memory", "index": 0 }]] },
    "Search Knowledge Base": { "ai_tool": [[{ "node": "Knowledge Assistant", "type": "ai_tool", "index": 0 }]] },
    "Cohere Embeddings Search": { "ai_embedding": [[{ "node": "Search Knowledge Base", "type": "ai_embedding", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
